
HW6/.vagrant/machines/node/virtualbox/vagrant_cwd
Infrastructure & Configuration Management/HW6/m6/centos/.vagrant/machines/monitoring/virtualbox/action_provision
Infrastructure & Configuration Management/HW6/m6/centos/.vagrant/machines/kafka/virtualbox/action_provision
Infrastructure & Configuration Management/HW6/m6/centos/.vagrant/machines/kafka/virtualbox/action_set_name
Infrastructure & Configuration Management/HW6/m6/centos/.vagrant/machines/kafka/virtualbox/action_set_name
Infrastructure & Configuration Management/HW6/m6/centos/.vagrant/machines/kafka/virtualbox/action_provision
Infrastructure & Configuration Management/HW6/m6/centos/.vagrant/machines/kafka/virtualbox/action_provision
Infrastructure & Configuration Management/HW6/m6/centos/.vagrant/machines/kafka/virtualbox/synced_folders
